@use './partials/variables' as *;

// importa bootstrap 
@import 'node_modules/bootstrap/scss/bootstrap';

body {
    font-family: $main-font;
    color: $text-color;
    background-image: linear-gradient(to left,
            transparent 0px,
            transparent 20px,
            rgba(#000, 0.02) 20px,
            rgba(#000, 0.02) 40px),
        linear-gradient(to bottom,
            transparent 0px,
            transparent 20px,
            rgba(#000, 0.02) 20px,
            rgba(#000, 0.02) 40px);
    background-size: 40px, 100% 40px;
}